# dependencies
/node_modules
/.pnp
.pnp.js

# next
/.next/
/out/
next-env.d.ts

# production
/build

# env / secrets
.env
.env*.local
*-key.json
gcp-service-account*.json

# misc
.DS_Store
*.pem
npm-debug.log*
.vercel
*.tsbuildinfo
